@model IEnumerable<GamesStore.Models.Game>

@{
    ViewBag.Title = "GamesStore";
}

<section>
    <div id="carouselBlk">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        @*<a href="register.html"><img style="width:100%" src="Content/themes/images/carousel/1.png" alt="special offers" /></a>*@
                        @foreach (var item in Model.ToList())
                        {
                            @GamesStore.Helpers.CustomHtmlHelpers.ImageActionLink(Html, "Product1", "Detail", "GameDetails", new { ID = item.ID }, null, Url.Action("fullImageUrl", "Home", new { path = item.Image }))
                            <div class="carousel-caption">
                                <h4>Second Thumbnail label</h4>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <h4>Latest Products </h4>
    <ul class="thumbnails">
        @foreach (var item in Model.ToList())
        {
            <li class="col-md-3">
                <div class="thumbnail">
                    <i class="tag"></i>
                    @GamesStore.Helpers.CustomHtmlHelpers.ImageActionLink(Html, "Product1", "Detail", "GameDetails", new { ID = item.ID }, null, Url.Action("fullImageUrl", new { path = item.Image }))
                    <div class="caption">
                        <h2>@item.Name</h2>
                        <h3>@Html.ActionLink("View Details", "Detail", "GameDetails", new { ID = item.ID }, new { @class = "btn" }) <span class="pull-right">@item.Price</span></h3>
                        <h4>@item.Review</h4>
                        <h5>@item.Condition</h5>
                    </div>
                </div>
            </li>
        }
    </ul>
</section>
