<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="GamesStore is Online Store for Video Games">
    <meta name="author" content="Mohamed Eldfrawy">

    <!-- bootstrap style-->
    <link id="callCss" rel="stylesheet" href="~/Content/themes/bootshop/bootstrap.min.css" media="screen" />
    <link href="Content/themes/css/base.css" rel="stylesheet" media="screen" />

    <!-- bootstrap responsive style-->
    <link href="~/Content/themes/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/themes/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- Google-code-prettify -->
    <link href="~/Content/themes/js/google-code-prettify/prettify.css" />

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="~/Content/themes/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/themes/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/themes/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/themes/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/themes/images/ico/apple-touch-icon-57-precomposed.png">

    <style type="text/css" id="enject"></style>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
</head>

<body>
    <header id="header">
        <div class="container">
            <div id="welcomeLine" class="row">
                <div class="col-md-6"> Welcome! <strong> User </strong></div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <a href="product_summary.html"><span>&pound;</span></a>
                        <span class="btn btn-mini">LE 155.00</span>
                        <a href="product_summary.html"><span class="">LE</span></a>
                        <a href="product_summary.html"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ 3 ] Itemes in your cart </span> </a>
                    </div>
                </div>
            </div>

            <nav id="logoArea" class="navbar">
                <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-inner">
                    @*<a class="brand" href="index.html"><img src="Content/themes/images/logo.png" alt="GamesStore" /></a>*@
                    @GamesStore.Helpers.CustomHtmlHelpers.ImageActionLink(Html, "Logo", "Index", "Home", null, new { @class = "brand" }, "~/Content/themes/images/logo.png")

                    <form class="form-inline navbar-search" method="post" action="products.html">
                        <input id="srchFld" class="srchTxt" style="height:auto;" type="text" />
                        <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
                    </form>

                    <ul id="topMenu" class="nav pull-right">
                        <li class=""><a href="normal.html">My Account</a></li>
                        <li class="">@Html.ActionLink("Contact", "Index", "ContactUS")</li>
                        <li class="">@Html.ActionLink("Playstation", "Index", "PlayStation")</li>
                        <li class="">@Html.ActionLink("Management", "Index", "Management")</li>
                        <li class="">@Html.ActionLink("Login", "Login", "Account")</li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <div id="mainBody" class="container body-content">
        @RenderBody()
    </div>

    <footer id="footerSection">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5>ACCOUNT</h5>
                    <a href="login.html">YOUR ACCOUNT</a>
                    <a href="login.html">PERSONAL INFORMATION</a>
                    <a href="login.html">ADDRESSES</a>
                    <a href="login.html">DISCOUNT</a>
                    <a href="login.html">ORDER HISTORY</a>
                </div>
                <div class="col-md-3">
                    <h5>INFORMATION</h5>
                    <a href="contact.html">CONTACT</a>
                    <a href="register.html">REGISTRATION</a>
                    <a href="legal_notice.html">LEGAL NOTICE</a>
                    <a href="tac.html">TERMS AND CONDITIONS</a>
                    <a href="faq.html">FAQ</a>
                </div>
                <div class="col-md-3">
                    <h5>OUR OFFERS</h5>
                    <a href="#">NEW PRODUCTS</a>
                    <a href="#">TOP SELLERS</a>
                    <a href="special_offer.html">SPECIAL OFFERS</a>
                    <a href="#">SUPPLIERS</a>
                </div>
                <div id="socialMedia" class="col-md-3 pull-right">
                    <h5>SOCIAL MEDIA </h5>
                    <a href="#"><img width="60" height="60" src="Content/themes/images/facebook.png" title="facebook" alt="facebook" /></a>
                    <a href="#"><img width="60" height="60" src="Content/themes/images/twitter.png" title="twitter" alt="twitter" /></a>
                    <a href="#"><img width="60" height="60" src="Content/themes/images/youtube.png" title="youtube" alt="youtube" /></a>
                </div>
            </div>
            <p class="pull-right">&copy; GamesStore</p>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/themes/js/google-code-prettify/prettify.js"></script>
    <script src="~/Content/themes/js/bootshop.js"></script>
    <script src="~/Content/themes/js/jquery.lightbox-0.5.js"></script>
    <script src="~/Content/themes/js/google-code-prettify/prettify.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
